<launch>
  <!-- Start RPLIDAR A3 -->
  <include file="$(find rplidar_ros)/launch/rplidar_a3.launch" />

  <!-- Start Hector SLAM -->
  <include file="$(find hector_slam_launch)/launch/tutorial.launch" />

  <!-- Start your mapper node -->
  <node pkg="room_mapper" type="mapper.py" name="mapper_node" output="screen" />
</launch>
